<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>IERC 20 -- ETH Inscriptions</title>
    <link rel="icon" type="image/x-icon" href="<%= context.config.publicPath %>favicon.png" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QFB6T9T318"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-QFB6T9T318');
    </script>
</head>
<body>
  <div id="root"></div>
</body>
</html>